.dashboard-container {
  position: relative; 
}

app-sidebar {
  position: absolute; 
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 1000;
 
}

.main-content {
  margin-left: 70px; 
  transition: margin-left 0.3s ease;
}